body{
    background-color: black;
    font-family: "Anton SC", sans-serif;
}

/*       -----HEADER-----       */

#header{
    height: 105px;
    background-color: rgb(250, 245, 245);
}

#serie-logo{
    width: 180px;
    margin-left: 50px;
}

li, a{
    list-style: none;
    color: black;
    text-decoration: none;
}

.li-nav {
    display: block;
    height: 50px;
    position: relative;
    text-decoration: none;
    color: black;
    text-decoration: solid;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    list-style: none;
}

.li-nav:hover{
    color: rgb(236, 22, 74);
}

#menu{
    list-style: none;
    width: 800px;
    margin-left: 530px; 
    margin-top: -30px; 
    display: flex;
    justify-content: space-evenly; 
}

#desplegable{
    display: none;
    width: 200px;
    background-color: rgb(250, 245, 245);
    position: absolute;
    top: 90px;
    text-align: center;
    right: 365px;
    margin: 0;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 20px;
}  

.personajes:hover #desplegable {
    display: flex;
}

.desplegable-a{
    display: block;
    width: 150px;
    float: none;
    width: 150px;
}

.desplegable-a:hover{
    color: rgb(236, 22, 74);
}

nav ul ul li a{
    line-height: 120%;
}


/*-----------------------------------------------------------------------------------------------------*/

/*                        -----SECCIÓN PRINCICPAL Y GALERÍA-----                                       */

#principal{
    margin-bottom: 400px;
}

#img-principal{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 65%;
}

#galeria{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 100px;
}

.fotos-galeria{
    width: 25%;
    margin-bottom: 30px;
}


/*-----------------------------------------------------------------------------------------------------*/

/*                        -----SINOPSIS DE LA SERIE-----                                               */

#sinopsis{
    display: block;
    width: 1200px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

#titulo-sinopsis{
    color: white;
    text-align: center;
    font-size: 50px;
}

#texto-img{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sinopsis-img{
    width: 40%;
    margin-top: 30px;
}

.parrafos-sinopsis{
    width: 50%;
    color: white;
    font-size: 20px;
    text-align: left;
    margin-top: 40px;
    word-spacing: 5px;
    letter-spacing: 1px;
}

.resaltar{
    color: rgb(236, 22, 74);
    font-weight: bold;
}

/*-----------------------------------------------------------------------------------------------------*/

/*                        -----SECCIÓN DE PERSONAJES-----                                              */

.personaje{
    width: 1200px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    margin-top: 30px;
    border: 8px solid white;
}

.personaje-img{
    width: 650px;
    height: 750px;
}

.personaje-h1{
    width: 350px;
    margin-left: 15px;
}

.personaje-p{
    text-align: left;
    padding: 15px;
    font-size: 20px;
    word-spacing: 5px;
    letter-spacing: 0.5px;
}




/*-----------------------------------------------------------------------------------------------------*/

/*                        -----FOOTER DE LA PÁGINA-----                                               */

#footer{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40vh;
}

#texto-footer{
    color: white;
}

i{
    font-size: 22px;
}

i:hover{
    color: rgb(165, 14, 14);
}


#redes{
    width: 200px;
    margin-top: -2px;
    display: flex;
    justify-content: space-around;
}