body{
    background-color: black;
    font-family: "Anton SC", sans-serif;
}


/*-----------------------------------------------------------------------------------------------------*/

/*       -----HEADER-----       */

#header{
    height: 105px;
    background-color: rgb(250, 245, 245);
    width: 99vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

#serie-logo{
    width: 180px;
    margin-left: 50px;
}

li, a{
    list-style: none;
    color: black;
    text-decoration: none;
}

.li-nav {
    display: block;
    height: 50px;
    position: relative;
    text-decoration: none;
    color: black;
    text-decoration: solid;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    list-style: none;
}

.li-nav:hover{
    color: rgb(236, 22, 74);
}

#menu{
    list-style: none;
    width: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#menu li {
    margin: 0 18px; /* Espacio entre los elementos del menú */
}

#desplegable{
    display: none;
    width: 180px;
    background-color: rgb(250, 245, 245);
    position: absolute;
    left: 50%; /* Posicionado en el centro horizontal del padre */
    transform: translateX(-50%);
    text-align: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 20px;
  
}  

.personajes{
    position: relative;
}

.personajes:hover #desplegable {
    display: flex;
}

.desplegable-a{
    display: block;
    width: 150px;
    float: none;
    width: 150px;
}

.desplegable-a:hover{
    color: rgb(236, 22, 74);
}

nav ul ul li a{
    line-height: 120%;
}


/*-----------------------------------------------------------------------------------------------------*/

/*                        -----SECCIÓN PRINCICPAL-----                                                 */

#principal{
    margin-bottom: 400px;
}

#img-principal{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 65%;
}

#galeria{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 100px;
}

#galeria a img{
    width: 110%;
    margin-bottom: 30px;
}

#parrafo-principal{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 50%;
    text-align: center;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
}

.secundario{
	margin-top: 5%;
	display: flex;
}
.secundario div{
	width: 33%;
	padding: 2%;
	text-align: center;
}
#galeria a img{
	width: 250px;
	margin-bottom: 2rem;
}

/*-----------------------------------------------------------------------------------------------------*/

/*                        -----SINOPSIS DE LA SERIE-----                                               */

#sinopsis{
    display: block;
    width: 1200px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

#titulo-sinopsis{
    color: white;
    text-align: center;
    font-size: 50px;
}

#texto-sinopsis{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sinopsis-img{
    width: 40%;
    margin-top: 30px;
}

.parrafos-sinopsis{
    width: 50%;
    color: white;
    font-size: 20px;
    text-align: left;
    margin-top: 40px;
    word-spacing: 5px;
    letter-spacing: 1px;
}

.resaltar{
    color: rgb(236, 22, 74);
    font-weight: bold;
}

/*-----------------------------------------------------------------------------------------------------*/

/*                        -----SECCIÓN DE PERSONAJES-----                                              */

.personaje{
    width: 1200px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    margin-top: 30px;
    border: 8px solid white;
}

.personaje-img{
    width: 650px;
    height: 750px;
}

.personaje-h1{
    width: 350px;
    margin-left: 15px;
}

.personaje-p{
    text-align: left;
    padding: 15px;
    font-size: 20px;
    word-spacing: 5px;
    letter-spacing: 0.5px;
}

/*-----------------------------------------------------------------------------------------------------*/

/*                                  ----- GALERÍA -----                                               */

#galeria-section{
    text-align: center;
}

#galeria-section h1{
    color: white;

    text-align: center;
    margin-top: 80px;
    font-size: 60px;
}

#galeria{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 10px;
    padding-top: 35px;
    border: 2px solid rgb(236, 22, 74);
}


#galeria a img{
    width: 65%;
    border: 4px solid rgb(236, 22, 74);
    outline: 10px solid white;
    border-radius: 10px;
}

.descripcion-img{
    font-weight: lighter;
}


/*-----------------------------------------------------------------------------------------------------*/

/*                        ----------TIENDA----------                                                   */

#texto-tienda{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-color: white;
    width: 70%;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
}

#texto-tienda a{
    color: rgb(236, 22, 74);
}

.form{
    width: 70%;
    height: 500px;
    text-align: center;
    gap: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 25px;
    background-color: white;
    border-radius: 10px;
}

.titulo-contacto{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.etiqueta{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.datos{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
}

button{
    width: 50%;
}

/*-----------------------------------------------------------------------------------------------------*/

/*                        -----FOOTER DE LA PÁGINA-----                                               */

#footer{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40vh;
}

#texto-footer{
    color: white;
}

i{
    font-size: 22px;
}

i:hover{
    color: rgb(165, 14, 14);
}


#redes{
    width: 200px;
    margin-top: -2px;
    display: flex;
    justify-content: space-around;
}